/*
 *  Secrets file for SmarterPresence
 *
 *  Copy this file as secrets.h and set
 *  your configuration settings and passwords.
 */

const char* wifi_ssid     = "YOUR WIFI SSID";
const char* wifi_password = "YOUR WIFI PASSWORD";

const char* mqtt_host = "YOUR MQTT HOST";
const int   mqtt_port = 1883;
